# Data Science Tools and Ecosystem

## Author
Gina Traina

In this notebook, Data Science Tools and Ecosystem are summarized for your enjoyment. Enjoy!

**Objectives:**
* Popular languages used in Data Science
* Commonly used libraries for Data Scientists
* Data science tools
* Arithmetic expressions examples in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Zeppelin    |
| R Studio |

### I have for you below a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335